{% extends 'base.html' %}

{% block title %}{% if object %}Редактировать{% else %}Создать{% endif %} Заказчика{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">
                        {% if object %}Редактировать{% else %}Создать{% endif %} Заказчика
                    </h3>
                </div>
                
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    {{ form.inn.label_tag }}
                                    {{ form.inn }}
                                    {{ form.inn.errors }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    {{ form.customer_type.label_tag }}
                                    {{ form.customer_type }}
                                    {{ form.customer_type.errors }}
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    {{ form.name.label_tag }}
                                    {{ form.name }}
                                    {{ form.name.errors }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    {{ form.full_name.label_tag }}
                                    {{ form.full_name }}
                                    {{ form.full_name.errors }}
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    {{ form.email.label_tag }}
                                    {{ form.email }}
                                    {{ form.email.errors }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    {{ form.phone.label_tag }}
                                    {{ form.phone }}
                                    {{ form.phone.errors }}
                                </div>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <button type="submit" class="btn btn-success">
                                {% if object %}Сохранить{% else %}Создать{% endif %}
                            </button>
                            <a href="{% url 'customers:customer_list' %}" class="btn btn-default">Отмена</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}