{% extends 'base_form.html' %}

{% block title %}{{ title|default:"Форма стоимости НМА" }}{% endblock %}

{% block form_title %}{{ title|default:"Форма стоимости НМА" }}{% endblock %}

{% block form_fields %}
    {{ form.project }}
    
    <div class="mb-3">
        <label for="{{ form.development_period.id_for_label }}" class="form-label">{{ form.development_period.label }}</label>
        {{ form.development_period }}
        {% if form.development_period.errors %}
            <div class="invalid-feedback d-block">{{ form.development_period.errors }}</div>
        {% endif %}
    </div>
{% endblock %}

{% block cancel_url %}
    {% if project_id and workspace_id %}
        {% url 'nmacost:nmacost-list-project' workspace_id project_id %}
    {% else %}
        {% url 'nmacost:nmacost-list' %}
    {% endif %}
{% endblock %}
